version: '3.8'

services:
    srv-nginx:
        container_name: srv-nginx
        build:
            context: ./nginx
            dockerfile: Dockerfile
        image: img-srv-nginx
        networks:
            - net-public
        ports:
            - "80:80"
            - "443:443"
        volumes:
            - ./public_html:/var/www/html
            - ./ssl:/etc/ssl/dyplomowa:ro
        depends_on:
            - srv-strapi
            - srv-nextjs
    srv-nextjs:
        container_name: srv-nextjs
        build:
            context: ./nextjs
            dockerfile: Dockerfile
        image: img-srv-nextjs
        networks:
            - net-public
        volumes:
            - ./nextjs/wwwnextjs:/app
        environment:
            PUBLIC_STRAPI_URL: ${PUBLIC_STRAPI_URL}
            PRIVATE_STRAPI_URL: ${PRIVATE_STRAPI_URL}
        depends_on:
            - srv-strapi
    srv-strapi:
        container_name: srv-strapi
        build:
            context: ./strapi
            dockerfile: Dockerfile
        image: img-srv-strapi
        networks:
            - net-public
            - net-private
        volumes:
            - ./strapi/wwwstrapi:/app
        environment:
            DATABASE_HOST: ${STRAPI_DATABASE_HOST}
            DATABASE_NAME: ${STRAPI_POSTGRES_DB}
            DATABASE_USERNAME: ${STRAPI_POSTGRES_USER}
            DATABASE_PASSWORD: ${STRAPI_POSTGRES_PASSWORD}
        depends_on:
            - srv-strapi-db
    srv-strapi-db:
        container_name: ${STRAPI_DATABASE_HOST}
        build:
            context: ./database/dbstrapi
            dockerfile: Dockerfile
        image: img-db-srv
        networks:
            - net-private
        volumes:
            - ./database/dbstrapi/data:/var/lib/postgresql/data
            - ./database/dbstrapi/backup:/backup
        environment:
            POSTGRES_DB: ${STRAPI_POSTGRES_DB}
            POSTGRES_USER: ${STRAPI_POSTGRES_USER}
            POSTGRES_PASSWORD: ${STRAPI_POSTGRES_PASSWORD}
networks:
    net-public:
        driver: bridge
    net-private:
        driver: bridge