html, body{
  box-sizing: border-box;
  height:100%;
  margin:0;
  padding:0;
}


body{
    display:flex;
    flex-direction: column;
}

main{
  flex:1;
}




ul{
  margin:0;
  padding:0;
}

.hero{
    position:absolute;
    object-fit:cover;
    width:100%;
    height:45vh;
    
}
.skeleton{
  width:80vw;
  position:absolute;
}


.banner{
  position:relative;
  height:45vh;
  display:flex;

  justify-content: center;
    align-items: center;
}

.banner h1{
  color:white;
  text-align:center;
}


/* :root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
} */
